<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DummyMail" value="dummy@dummy.com" />
		<add key="DummySurname" value="Dummy" />
		<add key="DummyName" value="Dummy" />
		<add key="DummyPhone" value="+421905987654" />
		<add key="DummyPassword" value="Dummy123!" />

		<add key="UserMail" value="user@user.com" />
		<add key="UserSurname" value="User" />
		<add key="UserName" value="User" />
		<add key="UserPhone" value="+421905123456" />
		<add key="UserPassword" value="User123!" />

		<add key="AdminMail" value="admin@admin.com" />
		<add key="AdminSurname" value="Admin" />
		<add key="AdminName" value="Admin" />
		<add key="AdminPhone" value="+421905123456" />
		<add key="AdminPassword" value="Admin123!" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Database" connectionString="Data Source=host.docker.internal;Persist Security Info=True;User ID=sa;Password=yourStrong(!)Password" />
		<add name="Image" connectionString="http://localhost:8080/" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.0" newVersion="2.18.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>